@import "tailwindcss";

@theme {
  --color-brand-100: #d6f5f5;
  --color-brand-500: #118a8a;
  --color-brand-700: #0a5252;
}

:root {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}
